.RData
.Rhistory
.Rproj.user/A9CC7B38/rmd-outputs
.Rproj.user/A9CC7B38/saved_source_markers
.Rproj.user/A9CC7B38/pcs/files-pane.pper
.Rproj.user/A9CC7B38/pcs/packages-pane.pper
.Rproj.user/A9CC7B38/pcs/source-pane.pper
.Rproj.user/A9CC7B38/pcs/windowlayoutstate.pper
.Rproj.user/A9CC7B38/pcs/workbench-pane.pper
.Rproj.user/A9CC7B38/sources/per/t/2DF870AC
.Rproj.user/A9CC7B38/sources/per/t/2DF870AC-contents
.Rproj.user/A9CC7B38/sources/per/t/5568BC52
.Rproj.user/A9CC7B38/sources/per/t/5568BC52-contents
.Rproj.user/A9CC7B38/sources/prop/AD24AC88
.Rproj.user/A9CC7B38/sources/prop/CFE0DF1D
.Rproj.user/A9CC7B38/sources/prop/INDEX
.Rproj.user/A9CC7B38/sources/session-7c6a76fd/4FCF79BF
.Rproj.user/A9CC7B38/sources/session-7c6a76fd/4FCF79BF-contents
.Rproj.user/A9CC7B38/sources/session-7c6a76fd/C14FEE12
.Rproj.user/A9CC7B38/sources/session-7c6a76fd/C14FEE12-contents
.Rproj.user/A9CC7B38/sources/session-7c6a76fd/E01E0C16-contents
.Rproj.user/A9CC7B38/sources/session-7c6a76fd/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/82604318-sparwko_1/1/A9CC7B383028ad85/chunks.json
.Rproj.user/shared/notebooks/82604318-sparwko_1/1/s/chunks.json
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/A9CC7B383028ad85/chunks.json
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/A9CC7B387c6a76fd/chunks.json
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/chunks.json
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/c4mi2l02guxqq/00000f.csv
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/c4mi2l02guxqq/000011.csv
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/c4mi2l02guxqq/000012.metadata
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/c4mi2l02guxqq/000012.png
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/c4mi2l02guxqq/000012.snapshot
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/c4mi2l02guxqq/000013.csv
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/c4mi2l02guxqq/000015.csv
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/c4mi2l02guxqq/000016.metadata
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/c4mi2l02guxqq/000016.png
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/c4mi2l02guxqq/000016.snapshot
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/c5lwziycgvtix/00000f.csv
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/c5lwziycgvtix/000010.html
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/c5lwziycgvtix/000010.json
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/c5lwziycgvtix/000010.metadata
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/csetup_chunk/00000f.csv
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/bootstrap-theme.css
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/bootstrap-theme.css.map
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/bootstrap-theme.min.css
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/bootstrap.css
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/bootstrap.css.map
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/bootstrap.min.css
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/cerulean.min.css
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/cosmo.min.css
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/darkly.min.css
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/flatly.min.css
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/journal.min.css
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/lumen.min.css
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/paper.min.css
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/readable.min.css
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/sandstone.min.css
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/simplex.min.css
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/spacelab.min.css
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/united.min.css
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/yeti.min.css
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/fonts/Lato.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/fonts/LatoBold.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/fonts/LatoItalic.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/fonts/NewsCycle.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/fonts/NewsCycleBold.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/fonts/OpenSans.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/fonts/OpenSansBold.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/fonts/OpenSansBoldItalic.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/fonts/OpenSansItalic.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/fonts/OpenSansLight.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/fonts/OpenSansLightItalic.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/fonts/Raleway.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/fonts/RalewayBold.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/fonts/Roboto.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/fonts/RobotoBold.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/fonts/RobotoLight.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/fonts/RobotoMedium.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/fonts/SourceSansPro.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/fonts/SourceSansProBold.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/fonts/SourceSansProItalic.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/fonts/SourceSansProLight.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/css/fonts/Ubuntu.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.eot
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.svg
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.ttf
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.woff
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.woff2
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/js/bootstrap.js
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/js/bootstrap.min.js
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/js/npm.js
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/shim/html5shiv.min.js
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/bootstrap-3.3.5/shim/respond.min.js
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/jquery-3.6.0/jquery-3.6.0.js
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/jquery-3.6.0/jquery-3.6.0.min.js
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/jquery-3.6.0/jquery-3.6.0.min.map
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/kePrint-0.0.1/kePrint.js
.Rproj.user/shared/notebooks/CDAB3D7A-spr2/1/s/lib/lightable-0.0.1/lightable.css
